* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #5d4954;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.MenuBar {
  display: none;
  cursor: pointer;
}

.MenuBar div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .MenuBar {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .l1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .l2 {
  opacity: 0;
}

.toggle .l3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

td
{
	border: 2px solid black;
	width: 60px;
	height: 60px;
}

.button
{
	border-radius: 4px;
	border: 1px solid green;
	color: black;
	padding: 5px 10px;
}

.buttonactive
{
	border-color: green;
	padding: 14px 28px;
	border-radius: 15px;
	border-style: solid;
	border-width: 5px;
}

.buttondesactive
{
	background:url(CroixReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.plateau
{
	background-color: lightgreen;
	width: 60px;
	height: 60px;
}

.plateauinactif
{
	background-color: beige;
	width: 60px;
	height: 60px;
}

.forme10 /* cubeBlanc */
{
	background:url(RenardBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme20 /* cone */
{
	background:url(DemonBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme30 /* cylindre */
{
	background:url(ChatBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme40 /* sphere */
{
	background:url(BoxBoxBoyBlancReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme11 /* cubeNoir */
{
	background:url(RenardNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme21 /* cone */
{
	background:url(DemonNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme31 /* cylindre */
{
	background:url(ChatNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.forme41 /* sphere */
{
	background:url(BoxBoyNoirReduit.png) no-repeat;
	width: 60px;
	height: 60px;
}

.quantik {
  margin: 10px;
}
